:root {
  --base-clr: hsl(229, 19%, 23%);
  --base-darker: hsl(231, 19%, 20%);
  --base-darkest: hsl(229, 20%, 17%);
  --text-clr: hsl(227, 70%, 87%);
  --text-darker: hsl(227, 44%, 80%);
  --text-darker1: hsl(228, 29%, 73%);
  --text-subtle: hsl(227, 17%, 58%);
  --text-links: hsl(222, 74%, 74%);
  --text-success: hsl(96, 44%, 68%);
  --text-warning: hsl(40, 62%, 73%);
  --text-error: hsl(359, 68%, 71%);
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins-italic-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins-lightitalic-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* css starts here */
body {
  font-family: Poppins;
  font-size: 1rem;
  background-color: var(--base-clr);
  color: var(--text-clr);
}
.header {
  font-size: 2.5rem;
  padding: 1em;
  margin: 1em;
  text-align: center;
}
.header h2 {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 300;
}
.scorecard {
  background-color: var(--base-darker);
  border-radius: 1em;
  display: flex;
  font-size: 1.75rem;
  padding: 1em;
  margin: 1em auto;
  align-items: center;
  max-width: 45rem;
  justify-content: space-between;
  text-align: center;
}
.scorecard div img {
  font-size: 6.4rem;
  margin: 1rem;
  padding: 1rem;
}
.scorecard h3 {
  font-size: 6.4rem;
  margin: 1rem;
  padding: 1rem;
  width: 183px;
}
.buttons {
  max-width: 45rem;
  padding: 1em;
  margin: 1em auto;
  display: flex;
  justify-content: space-between;
}
button {
  background-color: var(--base-darkest);
  border-radius: 1rem;
}
.buttons :hover {
  scale: 1.1;
}
.buttons img {
  scale: 1;
}
footer {
  font-size: 1.25rem;
  color: var(--text-links);
  text-align: center;
  margin: 1em;
  padding: 1em;
}
#win {
  font-size: 1.25rem;
  text-align: center;
  margin: 1em;
  padding: 1em;
  color: var(--text-success);
}
#loss {
  font-size: 1.25rem;
  text-align: center;
  margin: 1em;
  padding: 1em;
  color: var(--text-error);
}
#draw {
  font-size: 1.25rem;
  text-align: center;
  margin: 1em;
  padding: 1em;
  color: var(--text-warning);
}
#popup {
  visibility: hidden;
  font-size: 1.3rem;
  background-color: var(--base-darker);
  border-radius: 1em;
  height: 7em;
  width: 12em;
  margin: -3.5em auto auto -6em;
  padding: 1em;
  border: 2px solid var(--text-links);
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  z-index: 2;
}
#overlay {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
  left: 0;
}
#popup button {
  font-size: 1rem;
  background-color: var(--base-darkest);
  color: var(--text-clr);
  padding: 0.8em;
  margin: 0.8em;
  margin-top: 1.2em;
  border-radius: 0.5em;
}
